src/conf/xml-resources/web-service-references/ServiceMongoDBService/wsdl/localhost_8080/ServiceMongoDB/ServiceMongoDBService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://laas.breathe.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://laas.breathe.fr/" name="ServiceMongoDBService">
<types>
<xsd:schema>
<xsd:import namespace="http://laas.breathe.fr/" schemaLocation="http://localhost:8080/ServiceMongoDB/ServiceMongoDBService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getQuery">
<part name="parameters" element="tns:getQuery"></part>
</message>
<message name="getQueryResponse">
<part name="parameters" element="tns:getQueryResponse"></part>
</message>
<message name="createCollection">
<part name="parameters" element="tns:createCollection"></part>
</message>
<message name="createCollectionResponse">
<part name="parameters" element="tns:createCollectionResponse"></part>
</message>
<message name="createDB">
<part name="parameters" element="tns:createDB"></part>
</message>
<message name="createDBResponse">
<part name="parameters" element="tns:createDBResponse"></part>
</message>
<message name="insertDocument">
<part name="parameters" element="tns:insertDocument"></part>
</message>
<message name="insertDocumentResponse">
<part name="parameters" element="tns:insertDocumentResponse"></part>
</message>
<message name="deleteCollection">
<part name="parameters" element="tns:deleteCollection"></part>
</message>
<message name="deleteCollectionResponse">
<part name="parameters" element="tns:deleteCollectionResponse"></part>
</message>
<message name="deleteDatabase">
<part name="parameters" element="tns:deleteDatabase"></part>
</message>
<message name="deleteDatabaseResponse">
<part name="parameters" element="tns:deleteDatabaseResponse"></part>
</message>
<message name="deleteAllDocuments">
<part name="parameters" element="tns:deleteAllDocuments"></part>
</message>
<message name="deleteAllDocumentsResponse">
<part name="parameters" element="tns:deleteAllDocumentsResponse"></part>
</message>
<message name="deleteDocument">
<part name="parameters" element="tns:deleteDocument"></part>
</message>
<message name="deleteDocumentResponse">
<part name="parameters" element="tns:deleteDocumentResponse"></part>
</message>
<portType name="ServiceMongoDB">
<operation name="getQuery">
<input message="tns:getQuery"></input>
<output message="tns:getQueryResponse"></output>
</operation>
<operation name="createCollection">
<input message="tns:createCollection"></input>
<output message="tns:createCollectionResponse"></output>
</operation>
<operation name="createDB">
<input message="tns:createDB"></input>
<output message="tns:createDBResponse"></output>
</operation>
<operation name="insertDocument">
<input message="tns:insertDocument"></input>
<output message="tns:insertDocumentResponse"></output>
</operation>
<operation name="deleteCollection">
<input message="tns:deleteCollection"></input>
<output message="tns:deleteCollectionResponse"></output>
</operation>
<operation name="deleteDatabase">
<input message="tns:deleteDatabase"></input>
<output message="tns:deleteDatabaseResponse"></output>
</operation>
<operation name="deleteAllDocuments">
<input message="tns:deleteAllDocuments"></input>
<output message="tns:deleteAllDocumentsResponse"></output>
</operation>
<operation name="deleteDocument">
<input message="tns:deleteDocument"></input>
<output message="tns:deleteDocumentResponse"></output>
</operation>
</portType>
<binding name="ServiceMongoDBPortBinding" type="tns:ServiceMongoDB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCollection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createDB">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertDocument">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteCollection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteDatabase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteAllDocuments">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteDocument">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServiceMongoDBService">
<port name="ServiceMongoDBPort" binding="tns:ServiceMongoDBPortBinding">
<soap:address location="http://localhost:8080/ServiceMongoDB/ServiceMongoDBService"></soap:address>
</port>
</service>
</definitions>